.dimension-widget {
  padding: 20px 15px;
  &__inner {
    .unit-title {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      color: rgba(#fff, 0.7);
      &--active {
        color: var(--gold-color);
      }
    }
  }
}
